/* All decoration and behavior removed from anchors, buttons, and lists
===================================================================== */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;

  /* All buttons have these stylings.
  banner-button needs drop shadow */
  background-color: var(--color-red);
  height: 44px;
  width: 162px;
  border-radius: 50px;
}

a {
  text-decoration: none;
  /* Remove underlines */
  color: inherit;
  /* Inherit color from parent */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

a:visited {
  color: inherit;
  /* Inherit color from parent, even after link is visited */
}

a:hover,
a:focus {
  text-decoration: none;
  /* Remove underlines on hover/focus */
}

/* Remove all list styling */
ul,
ol {
  list-style-type: none;
  /* Remove bullet points or numbers */
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

/* SIZING ACROSS ALL DEVICES
=============================== */
/* Removing all default padding from page */
html,
body {
  margin: 0;
  padding: 0;
  /* remove gross scroll bars */
  scrollbar-width: none;
}

/* All backgrounds are 100% of the device and centered */
header,
main,
footer,
section,
.content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Content is 100% of device until it reaches 1000px */
.content-container {
  max-width: 1000px;
}

/* All text will default to the correct font and "black" text
on the whole page is actually this dark blue */
body {
  color: var(--color-blue);
  font-family: sans-serif;
}

/* CSS Variables */
:root {
  --color-red: #FF6565;
  --color-blue: #071629;
  --color-white: #FFFFFF;
  --color-banner-border: #979797;
}

/* HEADER
========================================= */
header {
  color: var(--color-white);
  background-image: url("./images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid var(--color-banner-border);
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* MAIN
========================================= */
/* WHAT WE DO... */

/* RESULTS */
.results-section {
  color: var(--color-white);
  background-color: #D8D8D8;
  background: url("./images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* CONTACT */

/* FOOTER
========================================= */
footer {
  color: var(--color-white);
  background-color: var(--color-blue);
}
